<div class="container grimoire-page">
  <h2>Grimoire</h2>

  <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" href="#learned" data-toggle="tab" role="tab">Learned Spells</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#available" data-toggle="tab" role="tab">Available Spells</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#propose" data-toggle="tab" role="tab">Propose Spell</a>
    </li>
    {{#if isStaff}}
      <li class="nav-item">
        <a class="nav-link" href="#manage-spells" data-toggle="tab" role="tab">Manage Spells</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#manage-proposals" data-toggle="tab" role="tab">Manage Proposals</a>
      </li>
    {{/if}}
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="learned" role="tabpanel">
      {{#if model.learned.length}}
        {{#each model.learned as |spell|}}
          <div class="card grimoire-spell">
            <div class="card-body">
              <h5 class="card-title">{{spell.name}}</h5>
              <p class="card-text text-muted">{{spell.branch}} &mdash; Min Skill: {{spell.minimum_skill}} &mdash; Difficulty: {{spell.difficulty}}</p>
              {{#if spell.description}}<p class="card-text">{{spell.description}}</p>{{/if}}
              <button class="btn btn-sm btn-success" {{action "castSpell" spell}} disabled={{isCasting}}>
                {{#if isCasting}}Casting...{{else}}Cast{{/if}}
              </button>
            </div>
          </div>
        {{/each}}
      {{else}}
        <p class="text-muted">You have not learned any spells yet.</p>
      {{/if}}
    </div>

    <div class="tab-pane" id="available" role="tabpanel">
      {{#if model.available.length}}
        {{#each model.available as |spell|}}
          <div class="card grimoire-spell">
            <div class="card-body">
              <h5 class="card-title">{{spell.name}}</h5>
              <p class="card-text text-muted">{{spell.branch}} &mdash; Min Skill: {{spell.minimum_skill}} &mdash; Difficulty: {{spell.difficulty}}</p>
              {{#if spell.description}}<p class="card-text">{{spell.description}}</p>{{/if}}
              <p class="card-text"><small class="text-muted">Cost: {{spell.cost}} XP (You have {{spell.current_xp}} XP, Your skill: {{spell.current_skill}})</small></p>
              {{#if spell.can_learn}}
                <button class="btn btn-sm btn-primary" {{action "learnSpell" spell}} disabled={{isLearning}}>
                  {{#if isLearning}}Learning...{{else}}Learn ({{spell.cost}} XP){{/if}}
                </button>
              {{else}}
                <small class="text-danger">Cannot learn: insufficient skill or XP.</small>
              {{/if}}
            </div>
          </div>
        {{/each}}
      {{else}}
        <p class="text-muted">No spells available to learn. You have learned everything!</p>
      {{/if}}
    </div>

    <div class="tab-pane" id="propose" role="tabpanel">
      {{grimoire-propose-spell branches=branches}}
    </div>

    {{#if isStaff}}
      <div class="tab-pane" id="manage-spells" role="tabpanel">
        {{grimoire-manage-spells allSpells=allSpells branches=branches onRefresh=(action "refreshStaffSpells")}}
      </div>

      <div class="tab-pane" id="manage-proposals" role="tabpanel">
        {{grimoire-manage-proposals proposals=proposals onRefresh=(action "refreshStaffProposals")}}
      </div>
    {{/if}}
  </div>
</div>
